/* CABEÇALHO */
header {
  text-align: center;
}

img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.foto_com_mouse {
  width: 160px;
  height: 160px;
  transition: 0.3s;
}

.foto_sem_mouse {
  width: 150px;
  height: 150px;
  transition: 0.3s;
}

h1 {
  color: #b22222;
}

h3 {
  color: #cd5c5c;
}

hr {
  border: 0.5px solid #a84747;
}

/* CORPO */
body {
  background-color: #ffe6cc;

  border: 5px solid #cd5c5c;
  border-radius: 8px;
 
  padding: 15px;
  margin: 20px;
}

/* BOTÕES */
.mycv {
  background-color: #cd5c5c;
  color: white;
  font-family: 'Noto Serif', serif;
  font-size: 15px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: 0.1s;
}

.stylebut {
  padding: 18px;
  background-color: #ffe6cc;
  display: none;
  overflow: hidden;
  transition: 2s;
}

.stylebut2 {
  padding: 18px;
  background-color: #000000;
  display: none;
  overflow: hidden;
  transition: 2s;
}

#buttop {
  display: none; 
  position: fixed; 
  bottom: 10px;
  right: 30px; 
  z-index: 20; 
  border: none; 
  outline: none; 
  background-color: #cd5c5c; 
  color: white; 
  cursor: pointer; 
  padding: 5px 10px;
  border-radius: 8px; 
  font-size: 20px; 
  overflow: hidden;
}

#buttop:hover {
  background-color: #963e3e; 
}

/* IMAGENS - CERTIFICADOS */
div.gallery {
  border: 1px solid #ccc;
  text-align: center
}

div.gallery:hover {
  border: 0.5px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: center;
  width: 25%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* FOOTER */
footer {
  text-align: center;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #ab007d;
  color: white;
}

/* LinkeIn*/
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* TEMA */
#acender {
  background-color: Transparent;
  background-repeat: no-repeat;
  border-radius: 8px; 
  border: none;
  font-size: 15px; 
  padding: 5px;
  cursor: pointer;
  overflow: hidden; 
}

.claro {
  background-color: #ffe6cc;
  color: black;
  transition: 2s;
}

#escurecer {
  background-color: Transparent;
  background-repeat: no-repeat;
  border-radius: 8px; 
  border: none;
  font-size: 15px; 
  padding: 5px;
  cursor: pointer;
  overflow: hidden; 
}

.escuro {
  background-color: #000000;
  color: white;
  transition: 2s;
}